.section {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  }
  
  .article {
    display: flex;
    gap: 2rem;

  }
  
  .title {
    font-size: 2.4rem;
    font-family: var(--font-cormorant);
  }
  
  .sub-title {
    font-size: 1.4rem;
    font-family: var(--font-lato);
  }
  

.line-break-horizontal {
    margin: 1rem 0;
  width: 7rem;
  height: 3px;
  background-color: var(--color-coral);
  border-radius: 12px;
}

.line-break-vertical {

  width: 2px;
  height: 8rem;
  background-color: var(--color-black-active);
  /* border: 1px solid var(--color-black-active); */
  border-radius: 12px;
}
