.contact-info {
    margin-top: 5rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    padding: 0;
    padding-top: 6rem;
    padding-bottom: 5rem;
    padding-right: 5rem;
}

@media (min-width: 800px) {
    .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 5rem;
}
}