.sidenav-button {
  margin: 30px 40px;
  padding: 1rem 2rem;
  text-align: center;
  color: var(--color-black);
  background-color: var(--color-coral);
  border-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: rgba(0, 0, 0, 0);
}

.link {
  text-decoration: none;
  color: var(--color-black);
}

.sidenav-button:active,
.sidenav-button:hover {
  background-color: var(--color-coral-active);
  border-bottom-color: var(--color-black) !important;
}

.icon-fix {
  --fa-primary-color: var(--color-black);
}
