.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--color-beige);
  border-right-color: var(--color-coral);
  border-right-width: 10px;
  border-right-style: solid;
  width: 60vw;
  height: 100vh;
  margin: 0;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  font-size: 1.3rem;
}

.title {
  margin: 0 2.5rem;
  margin-bottom: 4rem;
  padding: 1rem 0;
  font-family: var(--font-title);
  text-align: center;
  font-size: 3.5rem;
  background-color: var(--color-beige);
  color: rgb(0, 0, 0);
  border: 3px solid var(--color-black);
}

.brand-link {
  margin: 0;
  margin-left: 1.5rem;
  margin-top: 0.7rem;
}

.sideNavButton {
  width: 10rem;

  padding: 1rem 0;
  margin: 1rem auto;
  color: var(--color-black);
  background-color: var(--color-coral);
  border-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: rgba(0, 0, 0, 0);
}

.sideNavButton-last {
  margin-bottom: 5rem;
}

.sideNavButton-link {
  color: black;
}

.sideNavButton:active,
.sideNavButton:hover {
  background-color: var(--color-coral-active);
  border-bottom-color: var(--color-black) !important;
}
