.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-beige);
  padding-bottom: 3rem;
  width:100vw;
}

.title {
  margin: 0;
  margin-top: 2rem;
  font-size: 2.4rem;
  font-family: var(--font-cormorant);
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.9rem;
  margin: 0;
  padding-left: 3rem;
}

@media (max-width: 600px) {
  .list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .list > li {
    margin: 0;
  }

  .face1 {
    margin: 0;
  }

  .nails1 {
    margin: 0;
  }

  .nails2 {
    margin: 0;
  }

  .nails3 {
    margin: 0;
  }
}
.list > li {
  position: relative;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
}

.list > li:active {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
  animation: imageClick 2s;
}

@keyframes imageClick {
  0% {
    transform: scaleX(1.1) scaleY(1.1);
  }
  100% {
  }
}

.face1 {
  height: 15rem;
  width: 10rem;
}

.nails1 {
  margin-top: 2rem;
  height: 10rem;
  width: 10rem;
}

.nails2 {
  margin-top: 2.3rem;
  height: 12rem;
  width: 12rem;
}

.nails3 {
  height: 12rem;
  width: 12rem;
}

.line-break-horizontal {
  margin: 0;
  margin-bottom: 2rem;
  width: 8rem;
  height: 3px;
  background-color: var(--color-coral);
  border-radius: 12px;
}
