.hamburger {
  width: 5rem;
  height: 5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hamburger li {
  margin: 0.8rem;
  padding: 0;
  background-color: #b5b5b5;
  height: 5px;
  width: 100%;
  border-radius: 12px;
}
