.header {
  z-index: 1;
  position: fixed;
  background-color: #191919;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
}

.nav-list__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-top: 1rem;
}

.header > li {
  color: #b5b5b5;
}

.img-container {
  height: 5rem;
  width: 5rem;
  margin: 0 2rem;
}

.img-container > img {
  height: 100%;
}
