.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #191919;
  height: 4rem;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.text {
  color: #b5b5b5;
}
